In [2]:
from yelpapi import YelpAPI

In [3]:
import pandas as pd
import requests
import json
from config import API_Key 
# from config import bea_api

In [4]:
from pprint import pprint

In [5]:
yelp_api = YelpAPI(API_Key)

In [91]:
bea_url = 'https://apps.bea.gov/api/data'
bea_api = '0BEDA572-87F5-46AB-8614-4949AE2FE5B8'

In [11]:
bea_final_url = f'{bea_url}?&UserID={bea_api}&method=GetData&Datasetname=Regional&TableName=CAINC1&LineCode=3&GeoFIPS=COUNTY&Year=2014&ResultFormat=JSON'

In [6]:
bea_list_url=f'https://apps.bea.gov/api/data?&UserID={bea_api}&method=GETDATASETLIST&'

In [7]:
bea_list = requests.get(bea_list_url).json()

In [92]:
bea_data = requests.get(bea_final_url).json()

In [93]:
data = bea_data['BEAAPI']['Results']['Data']

In [94]:
PCI = pd.DataFrame(data)

In [96]:
PCI.drop(['Code', 'GeoFips', 'CL_UNIT', 'UNIT_MULT', 'NoteRef'], axis = 1, inplace=True)

In [97]:
PCI.to_csv("PCI.csv")

In [30]:
PCI = pd.read_csv('PCI.csv')

In [31]:
PCI

      Unnamed: 0         GeoName  TimePeriod DataValue
0              0     Autauga, AL        2014    36,699
1              1     Baldwin, AL        2014    39,605
2              2     Barbour, AL        2014    29,920
3              3        Bibb, AL        2014    28,255
4              4      Blount, AL        2014    31,415
...          ...             ...         ...       ...
3133        3133  Sweetwater, WY        2014    49,061
3134        3134       Teton, WY        2014   200,044
3135        3135       Uinta, WY        2014    39,275
3136        3136    Washakie, WY        2014    44,349
3137        3137      Weston, WY        2014    46,965

[3138 rows x 4 columns]

In [26]:
pop_html = pd.read_html('https://en.wikipedia.org/wiki/List_of_United_States_cities_by_population')

In [27]:
pop_db = pop_html[4]

In [28]:
pop_db.drop(['Location', '2016 population density', '2016 population density.1', '2018rank'], axis = 1, inplace=True)

In [29]:
pop_db = pop_db.rename(columns={'State[c]':'State'})

In [30]:
x = 'New York'

In [31]:
x.partition('[')

('New York', '', '')

In [32]:
pop_db['City'] = pop_db['City'].apply(lambda x: x.partition('[')[0])

In [33]:
pop_db.to_csv('pop_db.csv')

In [156]:
PCI['GeoName'].p

0          Autauga, AL
1          Baldwin, AL
2          Barbour, AL
3             Bibb, AL
4           Blount, AL
             ...
3133    Sweetwater, WY
3134         Teton, WY
3135         Uinta, WY
3136      Washakie, WY
3137        Weston, WY
Name: GeoName, Length: 3138, dtype: object

In [35]:
x = PCI['GeoName'][0]

In [36]:
x.partition(',')[0]

'Autauga'

In [37]:
PCI['City'] = PCI['GeoName'].apply(lambda x: x.partition(',')[0])
PCI['State'] = PCI['GeoName'].apply(lambda x: x.partition(',')[2])

In [38]:
PCI.drop(['GeoName', 'TimePeriod'], axis=1, inplace=True)

In [40]:
st_abbr = pd.read_csv('st_abbr.csv')

In [41]:
st_abbr.drop(['Abbrev'], axis=1, inplace=True)

In [42]:
population = st_abbr.merge(pop_db, on='State')

In [43]:
population.drop(['State'], axis=1, inplace=True)

In [44]:
population = population.rename(columns={'Code':'State'})

In [46]:
final_db = population.merge(PCI, on='City')

In [48]:
#delete empty spaces before and after State abbr
PCI['State'] = PCI['State'].apply(lambda x: x.strip())

In [50]:
final_db = population.merge(PCI, on=['City', 'State'])

In [53]:
final_db.to_csv('merged_data.csv')

In [5]:
final_db = pd.read_csv("merged_data.csv")

In [6]:
final_before = pd.read_csv('final_before_yelp.csv')

In [7]:
yelp_list_st = []
yelp_list_city = []
for row in final_before.iterrows():
    yelp_list_city.append(row[1][2])
    yelp_list_st.append(row[1][1])

# results_mexi = yelp_api.search_query(term='massage', location='denver, co')

In [8]:
len(yelp_list_city)

1223

In [53]:
yelp_list_city[0:1000]

['Butler',
 'Cherokee',
 'Clay',
 'Cullman',
 'Elmore',
 'Fayette',
 'Franklin',
 'Geneva',
 'Jackson',
 'Madison',
 'Marion',
 'Mobile',
 'Montgomery',
 'Talladega',
 'Tuscaloosa',
 'Anchorage Municipality',
 'Bristol Bay Borough',
 'Fairbanks North Star Borough',
 'Haines Borough',
 'Juneau City and Borough',
 'Kenai Peninsula Borough',
 'Kodiak Island Borough',
 'Matanuska-Susitna Borough',
 'North Slope Borough',
 'Northwest Arctic Borough',
 'Sitka City and Borough',
 'Maricopa',
 'Pima',
 'Benton',
 'Bradley',
 'Conway',
 'Franklin',
 'Fulton',
 'Garland',
 'Johnson',
 'Lincoln',
 'Lonoke',
 'Madison',
 'Marion',
 'Perry',
 'St. Francis',
 'Searcy',
 'Van Buren',
 'Washington',
 'Alameda',
 'Colusa',
 'Fresno',
 'Imperial',
 'Los Angeles',
 'Madera',
 'Merced',
 'Monterey',
 'Napa',
 'Orange',
 'Riverside',
 'Sacramento',
 'San Bernardino',
 'San Diego',
 'San Francisco',
 'San Joaquin',
 'San Luis Obispo',
 'San Mateo',
 'Santa Barbara',
 'Santa Clara',
 'Santa Cruz',
 'Sonoma',
 'Tehama',
 'Tulare',
 'Alamosa',
 'Crowley',
 'Delta',
 'Denver',
 'Dolores',
 'Eagle',
 'Gunnison',
 'Kiowa',
 'Kit Carson',
 'Las Animas',
 'Moffat',
 'Montezuma',
 'Montrose',
 'Ouray',
 'Pitkin',
 'Pueblo',
 'Saguache',
 'Sedgwick',
 'Yuma',
 'Hartford',
 'New Haven',
 'New London',
 'Fairfield',
 'Litchfield',
 'Tolland',
 'Windham',
 'New Castle',
 'Alachua',
 'Lee',
 'Madison',
 'Okeechobee',
 'Palm Beach',
 'Sarasota',
 'Seminole',
 'Baldwin',
 'Bartow',
 'Brooks',
 'Calhoun',
 'Clayton',
 'Cobb',
 'Colquitt',
 'Crawford',
 'Dawson',
 'Decatur',
 'Douglas',
 'Forsyth',
 'Franklin',
 'Gordon',
 'Haralson',
 'Jackson',
 'Jasper',
 'Jefferson',
 'Lumpkin',
 'Madison',
 'Mitchell',
 'Monroe',
 'Morgan',
 'Newton',
 'Oconee',
 'Oglethorpe',
 'Pulaski',
 'Quitman',
 'Screven',
 'Washington',
 'White',
 'Franklin',
 'Gooding',
 'Jerome',
 'Kootenai',
 'Minidoka',
 'Payette',
 'Shoshone',
 'Teton',
 'Twin Falls',
 'Champaign',
 'Clinton',
 'DeKalb',
 'Effingham',
 'Fulton',
 'Hamilton',
 'Henry',
 'Kankakee',
 'LaSalle',
 'McHenry',
 'Macon',
 'Madison',
 'Marion',
 'Marshall',
 'Mason',
 'Peoria',
 'Rock Island',
 'Washington',
 'Boone',
 'Lee',
 'Bureau',
 'Brown',
 'Scott',
 'Johnson',
 'Douglas',
 'Wabash',
 'Lake',
 'Morgan',
 'Montgomery',
 'Union',
 'Franklin',
 'De Witt',
 'Wayne',
 'Edgar',
 'Jackson',
 'Pope',
 'Cass',
 'Kane',
 'Hancock',
 'Iroquois',
 'Jersey',
 'Warren',
 'Kendall',
 'Henderson',
 'Knox',
 'Adams',
 'Richland',
 'Bond',
 'Lawrence',
 'Fayette',
 'Pike',
 'Randolph',
 'Saline',
 'Greene',
 'Mercer',
 'Monroe',
 'Logan',
 'Sangamon',
 'Hardin',
 'Perry',
 'St. Clair',
 'Jefferson',
 'Carroll',
 'Jasper',
 'Will',
 'Winnebago',
 'Clinton',
 'Decatur',
 'Elkhart',
 'Franklin',
 'Fulton',
 'Hamilton',
 'Huntington',
 'Jasper',
 'Knox',
 'Lagrange',
 'Lawrence',
 'Madison',
 'Marion',
 'Marshall',
 'Monroe',
 'Montgomery',
 'Morgan',
 'Porter',
 'Spencer',
 'Sullivan',
 'Tipton',
 'Wabash',
 'Warren',
 'Washington',
 'Wayne',
 'Jefferson',
 'Union',
 'Adams',
 'Jackson',
 'Lake',
 'Perry',
 'St. Joseph',
 'Clay',
 'Harrison',
 'Ohio',
 'Grant',
 'Tippecanoe',
 'Boone',
 'Miami',
 'Noble',
 'Owen',
 'Cass',
 'Posey',
 'Johnson',
 'Jennings',
 'Delaware',
 'Benton',
 'Orange',
 'Henry',
 'Brown',
 'Howard',
 'Newton',
 'Greene',
 'Pike',
 'Shelby',
 'Clark',
 'Vigo',
 'Scott',
 'Allen',
 'Ripley',
 'Randolph',
 'Floyd',
 'Hendricks',
 'Steuben',
 'Vermillion',
 'Fayette',
 'Gibson',
 'Adair',
 'Audubon',
 'Benton',
 'Boone',
 'Carroll',
 'Cherokee',
 'Clayton',
 'Clinton',
 'Delaware',
 'Des Moines',
 'Dubuque',
 'Fayette',
 'Floyd',
 'Franklin',
 'Fremont',
 'Greene',
 'Hamilton',
 'Hancock',
 'Humboldt',
 'Jefferson',
 'Keokuk',
 'Lucas',
 'Marion',
 'Marshall',
 'Mitchell',
 'Monona',
 'Monroe',
 'Muscatine',
 'Osceola',
 'Plymouth',
 'Pocahontas',
 'Shelby',
 'Tama',
 'Union',
 'Wapello',
 'Washington',
 'Webster',
 'Allen',
 'Atchison',
 'Chase',
 'Chautauqua',
 'Cherokee',
 'Ellis',
 'Ellsworth',
 'Ford',
 'Greeley',
 'Hamilton',
 'Harper',
 'Jewell',
 'Kingman',
 'Kiowa',
 'Labette',
 'Lane',
 'Leavenworth',
 'Linn',
 'Logan',
 'McPherson',
 'Marion',
 'Meade',
 'Norton',
 'Osborne',
 'Ottawa',
 'Pratt',
 'Republic',
 'Riley',
 'Russell',
 'Sedgwick',
 'Seward',
 'Shawnee',
 'Stafford',
 'Wallace',
 'Washington',
 'Wichita',
 'Wilson',
 'Osage',
 'Jackson',
 'Lincoln',
 'Cheyenne',
 'Comanche',
 'Grant',
 'Franklin',
 'Pawnee',
 'Scott',
 'Clay',
 'Jefferson',
 'Crawford',
 'Lyon',
 'Neosho',
 'Sheridan',
 'Elk',
 'Pottawatomie',
 'Harvey',
 'Sherman',
 'Thomas',
 'Greenwood',
 'Gove',
 'Graham',
 'Haskell',
 'Reno',
 'Stanton',
 'Clark',
 'Miami',
 'Mitchell',
 'Nemaha',
 'Johnson',
 'Sumner',
 'Morton',
 'Douglas',
 'Morris',
 'Smith',
 'Wabaunsee',
 'Allen',
 'Butler',
 'Carlisle',
 'Clay',
 'Clinton',
 'Crittenden',
 'Cumberland',
 'Franklin',
 'Fulton',
 'Grayson',
 'Greenup',
 'Hardin',
 'Harlan',
 'Henderson',
 'Hickman',
 'Jackson',
 'Jefferson',
 'Livingston',
 'Marion',
 'Martin',
 'Morgan',
 'Russell',
 'Union',
 'Franklin',
 'Jackson',
 'Lafayette',
 'Livingston',
 'Natchitoches',
 'Washington',
 'Cumberland',
 'Franklin',
 'Hancock',
 'Penobscot',
 'Washington',
 'Oxford',
 'Lincoln',
 'Knox',
 'Waldo',
 'York',
 'Baltimore',
 'Charles',
 'Frederick',
 'Somerset',
 'Worcester',
 'Essex',
 'Hampden',
 'Nantucket',
 'Norfolk',
 'Plymouth',
 'Allegan',
 'Alpena',
 'Charlevoix',
 'Cheboygan',
 'Clare',
 'Gladwin',
 'Hillsdale',
 'Houghton',
 'Ionia',
 'Jackson',
 'Kalamazoo',
 'Lapeer',
 'Manistee',
 'Marquette',
 'Mason',
 'Menominee',
 'Midland',
 'Monroe',
 'Muskegon',
 'Newaygo',
 'Otsego',
 'Saginaw',
 'St. Clair',
 'St. Joseph',
 'Wayne',
 'Alcona',
 'Lake',
 'Arenac',
 'Baraga',
 'Barry',
 'Berrien',
 'Bay',
 'Chippewa',
 'Eaton',
 'Osceola',
 'Schoolcraft',
 'Huron',
 'Ingham',
 'Isabella',
 'Kalkaska',
 'Leelanau',
 'Clinton',
 'Iosco',
 'Macomb',
 'Branch',
 'Mecosta',
 'Montcalm',
 'Montmorency',
 'Ogemaw',
 'Ontonagon',
 'Livingston',
 'Presque Isle',
 'Roscommon',
 'Sanilac',
 'Antrim',
 'Shiawassee',
 'Tuscola',
 'Wexford',
 'Aitkin',
 'Anoka',
 'Becker',
 'Beltrami',
 'Blue Earth',
 'Carlton',
 'Carver',
 'Clearwater',
 'Cook',
 'Cottonwood',
 'Dakota',
 'Faribault',
 'Freeborn',
 'Goodhue',
 'Grant',
 'Houston',
 'Isanti',
 'Jackson',
 'Kandiyohi',
 'Le Sueur',
 'Mahnomen',
 'Marshall',
 'Nicollet',
 'Pipestone',
 'Ramsey',
 'Renville',
 'Rice',
 'Roseau',
 'Wabasha',
 'Wadena',
 'Waseca',
 'Winona',
 'Wright',
 'Morrison',
 'Big Stone',
 'Lincoln',
 'Benton',
 'Lake',
 'Itasca',
 'Crow Wing',
 'Douglas',
 'Fillmore',
 'Clay',
 'Hubbard',
 'Todd',
 'Kanabec',
 'Lac qui Parle',
 'Washington',
 'Murray',
 'Traverse',
 'Otter Tail',
 'Norman',
 'Rock',
 'Martin',
 'Sibley',
 'Scott',
 'Stevens',
 'Coahoma',
 'George',
 'Grenada',
 'Jackson',
 'Jones',
 'Madison',
 'Marion',
 'Newton',
 'Pontotoc',
 'Prentiss',
 'Quitman',
 'Sunflower',
 'Tishomingo',
 'Tunica',
 'Union',
 'Benton',
 'Butler',
 'Camden',
 'Cape Girardeau',
 'Clark',
 'Clinton',
 'Franklin',
 'Gasconade',
 'Holt',
 'Jackson',
 'Jasper',
 'Laclede',
 'Lewis',
 'Lincoln',
 'Linn',
 'Macon',
 'Madison',
 'Mercer',
 'Miller',
 'New Madrid',
 'Oregon',
 'Ozark',
 'Perry',
 'Ray',
 'St. Charles',
 'St. Clair',
 'Ste. Genevieve',
 'St. Louis',
 'Sullivan',
 'Washington',
 'Howard',
 'Osage',
 'Chariton',
 'Harrison',
 'Jefferson',
 'Marion',
 'Monroe',
 'Dallas',
 'Polk',
 'Clay',
 'Cooper',
 'Morgan',
 'Atchison',
 'Nodaway',
 'Pike',
 'Boone',
 'Carroll',
 'Cass',
 'Henry',
 'Cascade',
 'Deer Lodge',
 'Missoula',
 'Sheridan',
 'Wibaux',
 'Franklin',
 'Grant',
 'Kearney',
 'Kimball',
 'Lincoln',
 'Madison',
 'Pierce',
 'Seward',
 'Stanton',
 'Valley',
 'Wayne',
 'York',
 'Blaine',
 'Logan',
 'Platte',
 'Richardson',
 'Sheridan',
 'Cuming',
 'Garfield',
 'Sherman',
 'Custer',
 'Hayes',
 'Loup',
 'Hooker',
 'Webster',
 'Hamilton',
 'Antelope',
 'Washington',
 'Adams',
 'Holt',
 'Nemaha',
 'Jefferson',
 'Cedar',
 'Butler',
 'Douglas',
 'Dawes',
 'Thayer',
 'Carson City',
 'Elko',
 'Sullivan',
 'Carroll',
 'Grafton',
 'Hillsborough',
 'Merrimack',
 'Strafford',
 'Burlington',
 'Camden',
 'Cape May',
 'Morris',
 'Passaic',
 'Salem',
 'Gloucester',
 'Union',
 'Ocean',
 'Warren',
 'Bernalillo',
 'Santa Fe',
 'Socorro',
 'Taos',
 'Albany',
 'Cortland',
 'Fulton',
 'New York',
 'Oneida',
 'Oswego',
 'Rensselaer',
 'Schenectady',
 'Genesee',
 'Chenango',
 'Allegany',
 'Chautauqua',
 'Chemung',
 'Greene',
 'Clinton',
 'Livingston',
 'Franklin',
 'Tompkins',
 'Washington',
 'Essex',
 'Lewis',
 'Columbia',
 'Herkimer',
 'Schuyler',
 'Warren',
 'Orleans',
 'Hamilton',
 'Madison',
 'Sullivan',
 'Niagara',
 'Steuben',
 'Onondaga',
 'Richmond',
 'Seneca',
 'Monroe',
 'Montgomery',
 'Yates',
 'Otsego',
 'Nassau',
 'Orange',
 'Saratoga',
 'Broome',
 'Jefferson',
 'Schoharie',
 'Wayne',
 'Delaware',
 'Rockland',
 'Tioga',
 'Ulster',
 'Putnam',
 'Ontario',
 'Beaufort',
 'Brunswick',
 'Catawba',
 'Cleveland',
 'Columbus',
 'Davidson',
 'Durham',
 'Franklin',
 'Gaston',
 'Graham',
 'Halifax',
 'Henderson',
 'Hertford',
 'Jackson',
 'Lenoir',
 'Macon',
 'Madison',
 'Rockingham',
 'Washington',
 'Wilson',
 'Adams',
 'Bottineau',
 'Bowman',
 'Cavalier',
 'Dickey',
 'Golden Valley',
 'Grand Forks',
 'Hettinger',
 'LaMoure',
 'McHenry',
 'Mercer',
 'Pembina',
 'Rolette',
 'Steele',
 'Towner',
 'Nelson',
 'Pierce',
 'Renville',
 'Richland',
 'Ward',
 'Logan',
 'McKenzie',
 'Morton',
 'Barnes',
 'Billings',
 'Divide',
 'Eddy',
 'Williams',
 'Sheridan',
 'Sioux',
 'Burke',
 'Mountrail',
 'Grant',
 'Ransom',
 'Sargent',
 'Wells',
 'Oliver',
 'Ashland',
 'Ashtabula',
 'Athens',
 'Columbiana',
 'Coshocton',
 'Defiance',
 'Delaware',
 'Fairfield',
 'Franklin',
 'Hamilton',
 'Harrison',
 'Huron',
 'Jackson',
 'Logan',
 'Lorain',
 'Marion',
 'Medina',
 'Monroe',
 'Montgomery',
 'Sandusky',
 'Shelby',
 'Union',
 'Van Wert',
 'Warren',
 'Jefferson',
 'Meigs',
 'Wayne',
 'Auglaize',
 'Perry',
 'Richland',
 'Lake',
 'Morgan',
 'Trumbull',
 'Noble',
 'Washington',
 'Clark',
 'Pike',
 'Madison',
 'Ross',
 'Brown',
 'Adams',
 'Miami',
 'Butler',
 'Knox',
 'Crawford',
 'Tuscarawas',
 'Holmes',
 'Allen',
 'Highland',
 'Scioto',
 'Hocking',
 'Clinton',
 'Fulton',
 'Portage',
 'Fayette',
 'Lawrence',
 'Licking',
 'Seneca',
 'Summit',
 'Muskingum',
 'Carroll',
 'Erie',
 'Paulding',
 'Pickaway',
 'Ottawa',
 'Greene',
 'Vinton',
 'Henry',
 'Adair',
 'Atoka',
 'Beaver',
 'Caddo',
 'Canadian',
 'Carter',
 'Cherokee',
 'Choctaw',
 'Cleveland',
 'Comanche',
 'Delaware',
 'Dewey',
 'Garvin',
 'Haskell',
 'Jefferson',
 'Kingfisher',
 'Kiowa',
 'Le Flore',
 'McCurtain',
 'Marshall',
 'Muskogee',
 'Noble',
 'Nowata',
 'Okmulgee',
 'Osage',
 'Pawnee',
 'Pittsburg',
 'Seminole',
 'Tulsa',
 'Wagoner',
 'Washington',
 'Woodward',
 'Hood River',
 'Jefferson',
 'Tillamook',
 'Umatilla',
 'Union',
 'Wallowa',
 'Wasco',
 'Wheeler',
 'Yamhill',
 'Adams',
 'Beaver',
 'Bradford',
 'Butler',
 'Chester',
 'Erie',
 'Franklin',
 'Lancaster',
 'Lebanon',
 'Mifflin',
 'Philadelphia',
 'Snyder',
 'Union',
 'Warren',
 'Washington',
 'York',
 'Cumberland',
 'Indiana',
 'Perry',
 'Wayne',
 'Greene',
 'Potter',
 'Bedford',
 'Juniata',
 'Monroe',
 'Centre',
 'Jefferson',
 'Pike',
 'Allegheny',
 'Blair',
 'Columbia',
 'Northampton',
 'Clearfield',
 'Clinton',
 'Mercer',
 'Venango',
 'Cambria',
 'Susquehanna',
 'Lehigh',
 'Elk',
 'Schuylkill',
 'Clarion',
 'Lawrence',
 'Crawford',
 'Montour',
 'McKean',
 'Luzerne',
 'Montgomery',
 'Carbon',
 'Armstrong',
 'Delaware',
 'Fayette',
 'Fulton',
 'Lycoming',
 'Somerset',
 'Sullivan',
 'Tioga',
 'Newport',
 'Providence',
 'Bristol',
 'Abbeville',
 'Aiken',
 'Allendale',
 'Anderson',
 'Bamberg',
 'Barnwell',
 'Beaufort',
 'Charleston',
 'Chester',
 'Chesterfield',
 'Darlington',
 'Dillon',
 'Edgefield',
 'Florence',
 'George',
 'Greenville',
 'Greenwood',
 'Hampton',
 'Kershaw',
 'Lancaster',
 'Laurens',
 'Lexington',
 'McCormick',
 'Marion',
 'Newberry',
 'Orangeburg',
 'Pickens',
 'Saluda',
 'Spartanburg',
 'Sumter',
 'Union',
 'York',
 'Aurora',
 'Brookings',
 'Buffalo',
 'Clark',
 'Custer',
 'Gregory',
 'Mellette',
 'Tripp',
 'Yankton',
 'Lake',
 'Grant',
 'Lincoln',
 'Brule']

In [9]:
import time

In [10]:
#loop through results and create dataframe for desired info

def getresults(location, terms):
    
    time.sleep(1.5)
    name = []
    cat = []
    price = []
    rating = []
    review = []
    state = []
    city = []
    bus_Type = []
    total_list = []
    
    try:
        results = yelp_api.search_query(term=terms, location=location)
        time.sleep(1)
    except: 
        print(f'no listing for {location} and {terms}')
        dict1 = {}
        return dict1
     
    #loop through creating offsets of 50 for each request     
    offset = 0
    total = results['total']
    if total > 500:
        x = 10
    elif total > 0 and total < 50: 
        x = 1
    else:
        x = round(total/50) #calculate how many offset calls to make
    
    for i in range(0,x):
        if i == 0:
            offset = 0
        else: 
            offset = offset + 50 #increase each offset by 50 for each iteration
        
        try:
            results = yelp_api.search_query(term=terms, location=location, offset=offset) 
            time.sleep(1)
            
            #get results and append to list
            for rest in results['businesses']:
                name.append(rest['name'])
                cat.append(rest['categories'][0]['title'])
                state.append(location.split(',')[1])
                city.append(location.split(',')[0])
                bus_Type.append(terms)
                total_list.append(total)

                try:
                    price.append(f"{rest['price']}")
                except: 
                    price.append('0')
                try:
                    rating.append(rest['rating'])
                except: 
                    rating.append('0')  
                try:                
                    review.append(rest['review_count'])
                except:
                    review.append('0')
            
            
            dict1 = {'State': state,
                'City': city,
                'name': name,
                'cat': cat,
                'price': price,
                'rating': rating, 
                'review': review,
                'BusinessType':bus_Type,
                'Total': total_list}
                                 
        except: 
            print(f'error reached at {location} and {terms} offset {offset}')
            try: 
                dict1
            except:
                dict1 = {}
            finally:
                return dict1
    try:                             
        return dict1                        
    except UnboundLocalError:
        dict1={}
        return dict1

In [11]:
#main loop to call query function
resultx = []

for i in range(0, len(yelp_list_city)):
    location = f'{yelp_list_city[i].lower()}, {yelp_list_st[i].lower()}'
    result = getresults(location, 'hotel')
    resultx.append(result)

error reached at charles, md and hotel offset 450
error reached at clare, mi and hotel offset 0
error reached at bay, mi and hotel offset 100
error reached at isabella, mi and hotel offset 0
error reached at leelanau, mi and hotel offset 100
no listing for madison, oh and hotel
error reached at snyder, pa and hotel offset 350
error reached at monroe, pa and hotel offset 400
error reached at pike, pa and hotel offset 300
error reached at lycoming, pa and hotel offset 150
error reached at kershaw, sc and hotel offset 300
error reached at alexandria, va and hotel offset 200
error reached at clay, wv and hotel offset 50

In [12]:
#create database from list of dictionaries
b = pd.DataFrame(resultx[0])
for i in range(1, len(resultx)):
    try:
        c = pd.DataFrame(resultx[i])
        b = b.append(c)
    except ValueError:
        print(f'error at {i}')

error at 426
error at 466
error at 475
error at 906
error at 919
error at 922
error at 948
error at 973
error at 1123
error at 1157

In [13]:
b

,State,City,name,cat,price,rating,review,BusinessType,Total
0,al,butler,The Mason,Hotels,$$,5.0,3,hotel,53
1,al,butler,The Mason,Hotels,0,5.0,1,hotel,53
2,al,butler,Western Inn,Hotels,0,3.0,1,hotel,53
3,al,butler,Hampton Inn Jackson,Hotels,0,4.5,7,hotel,53
4,al,butler,Drury Inn & Suites - Meridian,Hotels,$$,4.0,42,hotel,53
...,...,...,...,...,...,...,...,...,...
35,id,boise,Ameritel Inn,Hotels,0,5.0,1,hotel,85
36,id,boise,Airport Inn,Hotels,0,3.5,3,hotel,85
37,id,boise,Bogus Basin Recreation Area,Hotels,0,5.0,1,hotel,85
38,id,boise,The Sapphire Room At The Riverside Hotel,Jazz & Blues,$$,4.0,11,hotel,85
39,id,boise,Americas Best Value Inn & Suites Boise,Hotels,$,1.5,28,hotel,85

In [14]:
b.to_csv('finalhoteldata.csv')