In [185]:
import pandas as pd

In [251]:
data = pd.read_csv('finaldata.csv')

In [252]:
data['price'].unique()

array(['0', '$$', '$', '$$$$', '$$$', '€€', '€€€'], dtype=object)

In [253]:
data = data.drop(columns={'Unnamed: 0'})

In [254]:
data = data.drop(columns={'BusinessType'})

In [255]:
data['price']=data['price'].apply(lambda x: 2 if (x == "€€") else x)
data['price']=data['price'].apply(lambda x: 3 if (x == "€€€") else x)
data['price']=data['price'].apply(lambda x: 1 if (x == "$") else x)
data['price']=data['price'].apply(lambda x: 2 if (x == "$$") else x)
data['price']=data['price'].apply(lambda x: 3 if (x == "$$$") else x)
data['price']=data['price'].apply(lambda x: 4 if (x == "$$$$") else x)

In [256]:
data['price'] = data['price'].astype('int')

In [257]:
data1 = data
data2 = list(data.loc[data['price'] == 0].index)

In [258]:
data1.drop(data2, inplace=True)

In [245]:
data1_newIn = data1.set_index(['State', 'City'])

In [246]:
data1_newIn

                                                         name  \
State City
 al   butler                                         Don Rafa
      butler                                       McDonald's
      cherokee        Point Of View Restaurant And Oyster Bar
      cherokee                             Rattlesnake Saloon
      cherokee  The Southern Farm Table Restaurant and Bakery
...                                                       ...
 id   boise                                      Jimmy John's
      boise                                          Wingstop
      boise                                     Fish Poké Bar
      boise              Louie's Pizza and Italian Restaurant
      boise                                      Port of Subs

                                   cat  price  rating  review  Total
State City
 al   butler                   Mexican      2     5.0       4      6
      butler              Coffee & Tea      1     1.0       3      6
      cherokee                 Seafood      2     4.0       2      8
      cherokee                    Bars      1     3.5      50      8
      cherokee  American (Traditional)      2     4.5      14      8
...                                ...    ...     ...     ...    ...
 id   boise                 Sandwiches      1     3.0      21    931
      boise              Chicken Wings      1     3.0      60    931
      boise                       Poke      2     4.0      33    931
      boise                      Pizza      2     3.5     114    931
      boise                 Sandwiches      1     2.5      18    931

[50724 rows x 6 columns]

In [259]:
data1_means = data1.groupby(['State', 'City']).mean()

In [260]:
data1_means

                                       price    rating      review  Total
State City
 ak   anchorage municipality        1.787129  3.551980  121.960396  625.0
      bristol bay borough           1.500000  3.750000    6.500000    6.0
      fairbanks north star borough  1.000000  4.500000   12.000000    1.0
      haines borough                1.857143  4.000000   17.571429   12.0
      juneau city and borough       1.911765  3.911765  110.058824   94.0
...                                      ...       ...         ...    ...
 wv   mason                         1.083333  3.500000    5.833333   17.0
      morgan                        1.000000  2.909091    4.363636   19.0
      wayne                         1.000000  2.750000    2.000000    5.0
 wy   laramie                       1.566667  3.583333   72.300000   81.0
      sheridan                      1.733333  4.033333   58.666667   61.0

[1213 rows x 4 columns]

In [261]:
data1_means.reset_index(inplace=True)

In [207]:
data1_means = data1_means.drop(columns={'Unnamed: 0'})

In [96]:
data_group.reset_index(inplace=True)

In [269]:
data1_means

,State,City,price,rating,review,Total
0,ak,anchorage municipality,1.787129,3.551980,121.960396,625.0
1,ak,bristol bay borough,1.500000,3.750000,6.500000,6.0
2,ak,fairbanks north star borough,1.000000,4.500000,12.000000,1.0
3,ak,haines borough,1.857143,4.000000,17.571429,12.0
4,ak,juneau city and borough,1.911765,3.911765,110.058824,94.0
...,...,...,...,...,...,...
1208,wv,mason,1.083333,3.500000,5.833333,17.0
1209,wv,morgan,1.000000,2.909091,4.363636,19.0
1210,wv,wayne,1.000000,2.750000,2.000000,5.0
1211,wy,laramie,1.566667,3.583333,72.300000,81.0
1212,wy,sheridan,1.733333,4.033333,58.666667,61.0

In [263]:
final_db = pd.read_csv("final_before_yelp.csv")

In [264]:
final_db = final_db.drop(columns={'Unnamed: 0'})

In [265]:
final_db = final_db.rename(columns={'DataValue':'PCI'})

In [270]:
final_db = final_db.sort_values('State')

In [271]:
final_db.reset_index(drop=True, inplace=True)

In [143]:
final_db.drop('index', axis=1, inplace=True)

In [277]:
final_db['City'] = final_db['City'].apply(lambda x: x.lower())
final_db['State'] = final_db['State'].apply(lambda x: x.lower())

In [291]:
final_db['City'] = final_db['City'].apply(lambda x: x.strip())
final_db['State'] = final_db['State'].apply(lambda x: x.strip())
data1_means['City'] = data1_means['City'].apply(lambda x: x.strip())
data1_means['State'] = data1_means['State'].apply(lambda x: x.strip())

In [268]:
data1_means['State'] = data1_means['State'].apply(lambda x: x.lower())

In [292]:
final_final = final_db.merge(data1_means, how='inner', on=['State', 'City'])

In [293]:
final_final.to_csv('final_database.csv')

,State,City,Pop,PCI,price,rating,review,Total
0,ak,bristol bay borough,877,"116,340",1.500000,3.750000,6.500000,6.0
1,ak,sitka city and borough,8647,"66,157",1.933333,3.966667,38.466667,26.0
2,ak,matanuska-susitna borough,107610,"45,608",1.894737,3.947368,68.421053,28.0
3,ak,kenai peninsula borough,58533,"50,466",2.111111,4.277778,64.166667,45.0
4,ak,juneau city and borough,32113,"62,774",1.911765,3.911765,110.058824,94.0
...,...,...,...,...,...,...,...,...
1208,wv,mason,938,"28,756",1.083333,3.500000,5.833333,17.0
1209,wv,logan,1511,"32,521",1.222222,4.333333,4.555556,13.0
1210,wv,clay,448,"28,882",1.431818,3.343750,27.431818,635.0
1211,wy,laramie,32473,"49,426",1.566667,3.583333,72.300000,81.0
1212,wy,sheridan,17849,"53,543",1.733333,4.033333,58.666667,61.0

In [168]:
final_rest['Count'] = final_rest['Count']/final_rest['2018estimate']

In [173]:
final_rest.to_csv('final_rest.csv')