In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('bigdata.csv')

In [4]:
data = data.rename(columns={'State':'City', 'City':'State'})

In [9]:
data.groupby(['City', 'cat']).count()

                                 Unnamed: 0  State  name  price  rating  \
City      cat
austin    Acupuncture                    10     10    10     10      10
          Aestheticians                   1      1     1      1       1
          Bed & Breakfast                 1      1     1      1       1
          Blow Dry/Out Services           1      1     1      1       1
          Chiropractors                  20     20    20     20      20
...                                     ...    ...   ...    ...     ...
worcester Steakhouses                     2      2     2      2       2
          Sushi Bars                      5      5     5      5       5
          Tacos                           1      1     1      1       1
          Thai                            8      8     8      8       8
          Vietnamese                      6      6     6      6       6

                                 review
City      cat
austin    Acupuncture                10
          Aestheticians               1
          Bed & Breakfast             1
          Blow Dry/Out Services       1
          Chiropractors              20
...                                 ...
worcester Steakhouses                 2
          Sushi Bars                  5
          Tacos                       1
          Thai                        8
          Vietnamese                  6

[2639 rows x 6 columns]